body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.parentDiv {  
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin : 0 auto;

} 

h3 {
    color: white
}