body {
    background-image: url('https://i.pinimg.com/originals/3a/6e/54/3a6e54e8c6b6ee90409fdfaffadf4254.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {

    color: black;
}

h3 {
    color: black;
}

div.jumbotron {
    background-color: transparent;
}

h1.display-4 {
    font-weight: 900;
}

