<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>You Died!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/lifeordeathstyle.css">
      </head>

    <body>
  


        <div class="parentDiv"> 
            <img src="https://c.tenor.com/EqCpspaaZqUAAAAC/jack-titanic.gif"
            style="width:600px;height:200px;" ;>
        </div>
            

        <div class="container">
            <h3 class="text-center"> YOU DIED! <br> But I'll never let go, Jack</h3>
            </div>
    </body>
</html>


