<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live or Die?</title>

</head>
    <style>
    .error {
    color: #f75252;
}
        body{
        background-image: url('https://cdn.wallpapersafari.com/37/83/TklteN.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

        label {
            color: white
        }
        </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

<script>

$(document).ready(function() {
$("#basic-form").validate({
rules: {
Name : {
required: true,
minlength: 3
},



Sibsp : {
required: true,
number: true
},

Age: {
required: true,
number: true
},


Parch: {
required: true,
number: true
},



Gender: {
required: true

},



Cost : {
required: true,
number: true,
min: 0,
max: 550
},



Class : {
required: true,
number: true,
min: 1,
max: 3
},

},
  messages: {
    Name: "Please specify your name",
    Gender: {
      required: "Please Enter Your Gender"
      
    }
  }
});


});


</script>

<style>

label.error.fail-alert {
border: 2px solid red;
border-radius: 4px;
line-height: 1;
padding: 2px 0 6px 6px;
background: #ffe6eb;
}
input.valid.success-alert {
border: 2px solid #4CAF50;
color: green;
}


</style>

    <body>
        
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="train-model.html">Training set</a>
                    <a class="dropdown-item" href="test-model.html">Testing set</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/send">Will you survive?</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Will you live?! Or will you Die?!</h1>
                <p>Enter your details below, and find out!!</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="survivalform">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" required id="inputName" name="Name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputGender">Gender</label>
                            <input type="text" class="form-control" id="inputGender" name="Gender" placeholder="Gender">
                        </div>
                        <div class="form-group">
                            <label for="inputAge">Age</label>
                            <input type="text" class="form-control" id="inpoutAge" name="Age" placeholder="Age">
                        </div>
                        <div class="form-group">
                            <label for="inputSibsp">Number of Siblings and/or Spouses aboard</label>
                            <input type="text" class="form-control" id="inputSibsp" name="Sibsp" placeholder="#">
                        </div>
                        <div class="form-group">
                            <label for="inputParch">Number of Parents/Children aboard</label>
                            <input type="text" class="form-control" id="inputParch" name="Parch" placeholder="#">
                        </div>
                        <div class="form-group">
                            <label for="inputCost">How much did you pay for your ticket? (between 0.00 and 550.00)</label>
                            <input type="text" class="form-control" id="inputCost" name="Cost" placeholder="$0.00">
                        </div>
                        <div class="form-group">
                            <label for="inputClass">Are you in 1st, 2nd, or 3rd Class? (Enter 1, 2 or 3)</label>
                            <input type="text" class="form-control" id="inputClass" name="Class" placeholder="1, 2, or 3">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

        </div>

    </body>

</html>
