<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Titanic Survival</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>
<style>
  body {
    background-image: url('https://i.pinimg.com/originals/3a/6e/54/3a6e54e8c6b6ee90409fdfaffadf4254.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  p {

    color: black;
  }

  h3 {
    color: black;
  }

  div.jumbotron {
    background-color: transparent;
  }

  h1.display-4 {
    font-weight: 900;
  }
</style>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/train">Training set</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/send">Will you survive?</a>
          </div>
        </li>
      </ul>
    </div>
    </li>
    <div class="pull-right">
      <audio controls autoplay>
        <source src="../static/music/my_heart_will_go_on.mp3" type="audio/mpeg">
      </audio>
    </div>
    </div>
    </ul>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Titanic - Machine Learning from Disaster</h1>
      <p class="lead">Check out our Titanic ML project! Team 3 rules!</p>
      <hr class="my-4">
      <p>Click the link below to view this project on Kaggle!</p>
      <a class="btn btn-primary btn-lg" href="https://www.kaggle.com/c/titanic/data" role="button">Learn more</a>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-6">
        <div class="thumbnail">
          <img
            src="https://www.history.com/.image/c_fill%2Ccs_srgb%2Cfl_progressive%2Ch_400%2Cq_auto:good%2Cw_620/MTU3ODc4NjAzNTE3NTM1OTY3/titanic-wreckage-2014-hero-fix-2.jpg"
            alt="..." class="img-thumbnail">
        </div>
        <div class="caption">
          <h3>Training Set</h3>
          <p>Data Set Used for Training</p>
          <p><a href="/train" class="btn btn-primary" role="button">Load Data</a></p>
        </div>
      </div>
      <div class="col-6">
        <div class="thumbnail">
          <img src="https://m.media-amazon.com/images/I/91skX9RJkFL._AC_SX466_.jpg" alt="..." class="img-thumbnail">
        </div>
        <div class="caption">
          <h3>Will you survive?</h3>
          <p>Play our game!</p>
          <p><a href="/send" class="btn btn-primary" role="button">Click here to find out!</a> </p>
        </div>
      </div>
    </div>
  </div>









  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>