<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>You Lived!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/lifeordeathstyle.css">
</head>


<div class="parentDiv">
    <img src="https://i.gifer.com/4yot.gif" style="width:600px;height:200px;" ;>
</div>


<div class="container">
    <h3 class="text-center">{{ name }}, YOU LIVED! <br> You're the king of the world!</h3>
</div>
<div ALIGN=CENTER>
    <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/send">Will you survive?<span class="sr-only">(current)</span></a>
    </li>
</div>
</body>

</html>

</html>